<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1 th:text="${addmoviemessage}">This should not display</h1>

<form action="#" th:action="@{/addmovie}" th:object="${newMovie}" method="post">
    <input type="hidden" th:field="*{id}" />

    <!--<span th:if="${#fields.hasErrors('fname')}" th:error="*{fname}">Name Error</span>-->
    <p>Title: <input type="text" th:field="*{title}"/></p>

    <!--<span th:if="${#fields.hasErrors('email')}" th:error="*{email}">Email Error</span>-->
    <p>Year: <input type="number" th:field="*{year}"/></p>

    <p>Description: <input type="text" th:field="*{description}"/></p>

    <button type="submit" class="btn btn-dark" value="Submit">Submit</button>
</form>


</body>
</html>